.singup-container {
  border: 1px solid var(--gray);
  padding: 2em;
  max-width: 400px;
  margin: auto;
  margin-top: 2em;

  p {
    opacity: 0.8;
  }
  h1 {
    text-align: center;
  }

  a {
    font-weight: 700;
  }
}

.label-singup {
  display: block;
  opacity: 0.7;
}

.singup-inputs {
  width: 100%;
  margin-top: 0.5em;
  padding: 1em;
}

.input-container-singup {
  position: relative;
  padding: 1em 0;
}

.sign {
  position: absolute;
  right: 10px;
  bottom: 29px;
  color: var(--purpel);
  font-size: 1.2em;
  display: none;
}

.singup-danger-mark {
  right: 30px;
  color: #e40606;
}

.singup-and-up-button {
  margin: 1em 0;
  border: 1px solid var(--gray);
  padding: 1em 1.2em;
  color: white;
  background-color: var(--dark-background);
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}
