.notification {
  background-color: var(--purpel);
  background-color: #b21515;
  padding: 1em;
  color: white;
  margin-bottom: 2em;
  text-align: center;
  font-weight: 600;
  position: fixed;
  width: 100%;
  top: 4.7em;
  z-index: 1000;
}

.close-notification {
  cursor: pointer;
  position: absolute;
  font-size: 1.4em;
  right: 20px;
}

.close-notification:hover {
  opacity: 0.5;
}
