.aside {
  width: 30%;
  display: none;
  padding: 0.5em 1em;
  border-left: 1px solid var(--gray);
  position: fixed;
  right: 0;
  top: 5.3em;
}

.links {
  color: var(--purpel);
  font-weight: 600;
  text-decoration: underline;
}

@media only screen and (min-width: 798px) {
  .aside {
    display: block;
  }
}
