.main {
  width: 100%;
  display: block;
  padding: 2em;
  padding-top: 7em;
  min-height: 600px;
}

.top-of-shop {
  border: 1px solid green;
}

@media only screen and (min-width: 798px) {
  .main {
    width: 70%;
  }
}
