.footer {
  background-color: var(--dark-background);
  height: 300px;
  margin-top: 7em;
  color: white;
  text-align: center;
}

.footer-list {
  border: 1px solid lightcoral;

  a {
    color: white;
  }
}
