.spiner-container {
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spiner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid var(--purpel);
  border-bottom: white 5px solid;
  animation: spiner 0.5s linear infinite;
  z-index: 1001;
}

@keyframes spiner {
  0% {
    transform: rotate(360deg);
  }
}
