@import "./style/colors.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,900;1,100;1,500;1,600;1,700;1,900&display=swap");

:root {
  box-sizing: border-box;
  font-size: 14px;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
}

body {
  font-family: "Montserrat", "vazir", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.display-none {
  display: none;
}

.hover-under-line::after {
  transition: width 0.3s ease-in;
  content: " ";
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  height: 5px;
  background-color: var(--purpel);
}

.hover-under-line:hover::after {
  width: 100%;
}

@media only screen and (min-width: 797px) {
  :root {
    font-size: 15px;
  }
}

.position-relative {
  position: relative;
}
